// ===============
// colors palette
// ===============
:root {
	--primary-font: "Kanit";
	--secondary-font: "Inter";

	--primary-text: black;
	--secondary-text: #fff;

	--bg-light-gray: background-color: rgba(37, 68, 65, 0.05);

	--orange: #ff6f59;
	--gray: #7f7f7f;
	--grayDark: #2d2d2d;

	--green: #43aa8b;
	--darkGreen: #254441;

	--hoverButton: #254441;

	// ================================================================;
}
